---
layout: default
current: blog
class: 'home-template'
navigation: True
---

<!-- < default -->
<!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template -->

<!-- The big featured header, it uses blog cover image as a BG if available -->
<header class="site-header outer {% if page.cover or site.cover %}" style="background-image:  url({{ site.baseurl }}{% if page.cover %}{{ page.cover }}{% elsif site.cover %}{{ site.cover }}{% endif %}) {% else %}no-cover{% endif %}">
    <div class="inner">
        <div class="site-header-content">
            <h1 class="site-title">
                {% if site.logo %}
                <img style="border-radius: 10px;width: 100px;-webkit-user-select: none;margin: auto;cursor: zoom-in;height: 100px;" src="/assets/images/27095315.jpg" width="100" height="100">
                   
                {% else %}
                    {{ site.title }}
                {% endif %}
            </h1>
            <h2 class="post-card-title">Stalyn A. Blog</h2>
              <h2 class="site-description">{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}</h2>
        </div>
        {% include site-nav.html %}
    </div>
</header>

<!-- The main content area -->
<main id="site-main" class="site-main outer" role="main"> 
    
    
    <div class="inner">

        <div class="post-feed">
            <!-- The tag below includes the markup for each post - partials/post-card.hbs -->
            


    <article class="post-card home-template no-image">
        
        <div class="post-card-content">
            <a class="post-card-content-link" href="u1clas12">
                <header class="post-card-header">
                    

                    <h2 class="post-card-title">Procesos del Software - Modelos </h2>
                </header>
                <section class="post-card-excerpt">
                    
                        <p>Modelo Cascada Las fases están identificadas por separado: -El análisis y definición de requerimientos -Diseño del sistema y software. -Pruebas de implementación de unidades -Integración y pruebas del sistema -Operación y mantenimiento El</p>
                    
                </section>
            </a>
            <footer class="post-card-meta">
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                <span class="reading-time">
                    
                    
                      2 min read
                    
                </span>
            </footer>
        </div>
    </article>

    <article class="post-card home-template no-image">
        
        <div class="post-card-content">
            <a class="post-card-content-link" href="u1clas14">
                <header class="post-card-header">
                    

                    <h2 class="post-card-title">Ciclos de vida del Software</h2>
                </header>
                <section class="post-card-excerpt">
                    
                        <p>Cuando un proceso implica la construcción de algún producto, suele referirse al proceso como un ciclo de vida -El proceso de desarrollo de software suele denominarse ciclo de vida del software Se puede</p>
                    
                </section>
            </a>
            <footer class="post-card-meta">
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                <span class="reading-time">
                    
                    
                      1 min read
                    
                </span>
            </footer>
        </div>
    </article>

    <article class="post-card home-template no-image">
        
        <div class="post-card-content">
            <a class="post-card-content-link" href="u1clas13">
                <header class="post-card-header">
                    

                    <h2 class="post-card-title">Unidad 2 / Proceso del Software</h2>
                </header>
                <section class="post-card-excerpt">
                    
                        <p>Conjunto de actividades necesarias para transformar las ideas iniciales del usuario, que desea automatizar un determinado trabajo, en software. Modelos de proceso de Software 1.-Modelo de cascada 2.-Desarrollo incremental 3.-Modelo espiral 4.-Desarrollo Rápido</p>
                    
                </section>
            </a>
            <footer class="post-card-meta">
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                <span class="reading-time">
                    
                    
                      1 min read
                    
                </span>
            </footer>
        </div>
    </article>

    <article class="post-card home-template no-image">
        
        <div class="post-card-content">
            <a class="post-card-content-link" href="u1clas11">
                <header class="post-card-header">
                    

                    <h2 class="post-card-title">Sistemas de Informacion</h2>
                </header>
                <section class="post-card-excerpt">
                    
                        <p>Un sistema de información es un conjunto de elementos interrelacionados con el propósito de prestar atención a las demandas de información de una organización, para elevar el nivel de conocimientos que permitan un</p>
                    
                </section>
            </a>
            <footer class="post-card-meta">
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                <span class="reading-time">
                    
                    
                      1 min read
                    
                </span>
            </footer>
        </div>
    </article>

    <article class="post-card home-template no-image">
        
        <div class="post-card-content">
            <a class="post-card-content-link" href="u1clas9">
                <header class="post-card-header">
                    

                    <h2 class="post-card-title">Codigo de ética</h2>
                </header>
                <section class="post-card-excerpt">
                    
                        <p>Principios del código
-Público
-Cliente y Empleador
-Producto
-Juicio
-Gerencia
-Profesión
-Colegas
-Interés Propio

</p>
                    
                </section>
            </a>
            <footer class="post-card-meta">
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                <span class="reading-time">
                    
                    
                      1 min read
                    
                </span>
            </footer>
        </div>
    </article>

    <article class="post-card home-template no-image">
        
        <div class="post-card-content">
            <a class="post-card-content-link" href="u1clas10">
                <header class="post-card-header">
                    

                    <h2 class="post-card-title">Objetivo a la IS</h2>
                </header>
                <section class="post-card-excerpt">
                    
                        <p>Objetivo de la IS -Diseñar programas informáticos que se adecúen a las exigencias de la sociedad.-Liderar y acoplar el desarrollo de programaciones complicadas. -Actuar en todas las fases del ciclo de vida de</p>
                    
                </section>
            </a>
            <footer class="post-card-meta">
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                <span class="reading-time">
                    
                    
                      1 min read
                    
                </span>
            </footer>
        </div>
    </article>

    <article class="post-card home-template no-image">
        
        <div class="post-card-content">
            <a class="post-card-content-link" href="u1clas8">
                <header class="post-card-header">
                    

                    <h2 class="post-card-title">Problemas en el desarrollo de Software</h2>
                </header>
                <section class="post-card-excerpt">
                    
                        <p>¿Qué es un proyecto software? Un proyecto software es un esfuerzo temporal que se lleva a cabo para crear un producto software, servicio TI o resultado único. ¿Pero que es el software? Según</p>
                    
                </section>
            </a>
            <footer class="post-card-meta">
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                <span class="reading-time">
                    
                    
                      1 min read
                    
                </span>
            </footer>
        </div>
    </article>

    <article class="post-card home-template no-image">
        
        <div class="post-card-content">
            <a class="post-card-content-link" href="u1clas7">
                <header class="post-card-header">
                    

                    <h2 class="post-card-title">Procesos de Ingenieria de Informacion</h2>
                </header>
                <section class="post-card-excerpt">
                    
                        <p>Factores de calidad del Software Concepto de Calidad: Conjunto de propiedades y de características de un producto o servicio, que le confieren aptitud para satisfacer una necesidad explícita o implícita (ISO 8402). Calidad</p>
                    
                </section>
            </a>
            <footer class="post-card-meta">
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                <span class="reading-time">
                    
                    
                      1 min read
                    
                </span>
            </footer>
        </div>
    </article>

    <article class="post-card home-template no-image">
        
        <div class="post-card-content">
            <a class="post-card-content-link" href="u1clas6">
                <header class="post-card-header">
                    

                    <h2 class="post-card-title">El Software en la actualidad</h2>
                </header>
                <section class="post-card-excerpt">
                    
                        <p>Las direcciones en las que evoluciona la ingeniería del software hoy en día pueden agruparse de la siguiente manera:
-Metodologías ágiles
-Experimentación
-Desarrollo dirigido por modelos
-Líneas de productos software
</p>
                    
                </section>
            </a>
            <footer class="post-card-meta">
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                <span class="reading-time">
                    
                    
                      1 min read
                    
                </span>
            </footer>
        </div>
    </article>

    <article class="post-card home-template no-image">
        
        <div class="post-card-content">
            <a class="post-card-content-link" href="u1clas5">
                <header class="post-card-header">
                    

                    <h2 class="post-card-title">¿Por qué se crea la Ingenieria en Software?</h2>
                </header>
                <section class="post-card-excerpt">
                    
                        <p>La ingeniería de software se crea debido a las siguientes características: -El producto debe ser confiable y realizar sólo las tareas especificadas en los requerimientos. -El producto debe ser robusto. Esto quiere decir</p>
                    
                </section>
            </a>
            <footer class="post-card-meta">
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                <span class="reading-time">
                    
                    
                      1 min read
                    
                </span>
            </footer>
        </div>
    </article>

    <article class="post-card home-template no-image">
        
        <div class="post-card-content">
            <a class="post-card-content-link" href="u1clas4">
                <header class="post-card-header">
                    

                    <h2 class="post-card-title">Crisis del Software</h2>
                </header>
                <section class="post-card-excerpt">
                    
                        <p>La Crisis del Software -La palabra crisis se define en el diccionario como "un punto decisivo en el curso de algo; momento, etapa, o evento decisivo o crucial". Sin embargo para el software</p>
                    
                </section>
            </a>
            <footer class="post-card-meta">
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                <span class="reading-time">
                    
                    
                      1 min read
                    
                </span>
            </footer>
        </div>
    </article>

    <article class="post-card home-template no-image">
        
        <div class="post-card-content">
            <a class="post-card-content-link" href="u1clas3">
                <header class="post-card-header">
                    

                    <h2 class="post-card-title">Evolucion del Software</h2>
                </header>
                <section class="post-card-excerpt">
                    
                        <p>La Evolución del Software -El término “evolución” del software se utiliza desde los sesenta para denominar la dinámica de crecimiento del software. -Una definición atribuida a Lehman y Ramil dice que la evolución</p>
                    
                </section>
            </a>
            <footer class="post-card-meta">
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                <span class="reading-time">
                    
                    
                      1 min read
                    
                </span>
            </footer>
        </div>
    </article>

    <article class="post-card home-template no-image">
        
        <div class="post-card-content">
            <a class="post-card-content-link" href="u1clas2">
                <header class="post-card-header">
                    

                    <h2 class="post-card-title">Origen de la Ingenieria en Software</h2>
                </header>
                <section class="post-card-excerpt">
                    
                        <p>Origen de IS Ingeniería del Software, es el término utilizado por Fritz Bauer en la primera conferencia sobre desarrollo de software patrocinada por el Comité de Ciencia de la OTAN celebrada en Garmisch</p>
                    
                </section>
            </a>
            <footer class="post-card-meta">
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                <span class="reading-time">
                    
                    
                      1 min read
                    
                </span>
            </footer>
        </div>
    </article>

    <article class="post-card home-template no-image">
        
        <div class="post-card-content">
            <a class="post-card-content-link" href="u1clas1">
                <header class="post-card-header">
                    

                    <h2 class="post-card-title">Fundamentos a la Ing al Software</h2>
                </header>
                <section class="post-card-excerpt">
                    
                        <p>La Ingenieria de Software es una aplicación práctica del conocimiento científico para poveer metologías y técnicas que ayuden a dessarrollar sistemas de software a tiempo, y a su vez que aseguren que el</p>
                    
                </section>
            </a>
            <footer class="post-card-meta">
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                <span class="reading-time">
                    
                    
                      1 min read
                    
                </span>
            </footer>
        </div>
    </article>


        </div>

    </div>
    
    
    <div class="inner">

        <div class="post-feed">
            <!-- The tag below includes the markup for each post - partials/post-card.hbs -->
            {%  include post-card.html %}
        </div>

    </div>
</main>
